- var welcomeText = 'Welcome to BL';
- var mainMenu = {about: '/about', 'tracking': '/map', cart: '/cart'};
- var socialLinks = {telegram: '', facebook: '', instagram: ''};
- var footerSocials = {twitter :'', instagram: '', whatsapp: '', facebook: '', telegram: ''};
- var footerMenu = {about: '', contact: '', faq: '', portfolio: '', transactions: '', services: ''};