html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="img/titleIcons/Shopping.svg" type="image/svg")
		//inject:css
		//endinject
	body
		include ./pugIncludes/variables.pug
		include ./pugIncludes/mixins.pug
		include ./pugIncludes/modules/header.pug
		include ./pugIncludes/modules/main.pug
		include ./pugIncludes/modules/footer.pug
	//inject:js
	//endinject